<!DOCTYPE html>
<html lang="en">

<head>
  <title>Food To Go</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <!-- This brings in the ejs from partials/_header.ejs -->
  <%- include('partials/_header') %>
  <main>
    <!-- SECTION 3 -->
    <div class="page-title">
      <h1>All Orders</h1>
    </div>

    <!-- Table for User Orders -->
    <table>
      <tr class="table-title">
        <td>Order Number</td>
        <td>Total</td>
        <td>Date</td>
        <td>Status</td>
      </tr>
      <tr>
        <% console.log('orders: ', orders)%>
        <% orders.forEach(function(orders) { %>
        <td><%= orders.id %></td>
        <td><%= orders.total %> $</td>
        <td><%= (new Date(orders.date)).toLocaleDateString("en-US")%></td>

        <!-- <form button method="GET" action="/order/:id/"> -->
          <td>
            <a href="/admin/order/<%=orders.id%>" class="btn btn-primary">Order Details</a>
            <!-- <button value="<%= orders.id %>" type="submit" class="detail-order-button">Detail About Order</button> -->
          </td>
        <!-- </form> -->
      </tr>
      <tr>

        <% }); %>

      </tr>
    </table>

  </main>


</body>

</html>
