<% const ToCurrency = function(number) { return Intl.NumberFormat('en-IN', {
style: 'currency', currency: 'CAD' }).format(number, 2); } %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Food To Go</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- External Link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <!-- This brings in the ejs from partials/_header.ejs -->
    <%- include('partials/_header') %>
    <main>
      <!-- SECTION order_selected.ejs -->
      <div class="page-title">
        <h1>Order Summary</h1>
        <h2>Your Order (ID: <%= orders[0].order_id %>) is <%= orders[0].status %>!</h2>
      </div>

      <!-- Table for Shopping cart -->
      <table>
        <tr class="table-title">
          <td>Product</td>
          <td>Price</td>
          <td>Quantity</td>
          <td>Sub Total</td>
          <td>Status</td>
        </tr>
        <% if(orders) { let orderTotal = 0; %>
          <% for(const order of orders) {
            let runningtotal = order.quantity*(order.price_in_cents/100); orderTotal
            += runningtotal; %>

            <tr>
              <!-- Getting Product-->
              <td>
                <h4><%= order.name %></h4>
                <img
                  class="menu-image-ordered"
                  src="<%= order.picture_url %>"
                  alt="menu1"
                />
              </td>

              <!-- Getting Price-->
              <td><%= ToCurrency(order.price_in_cents/100) %></td>

              <!-- Getting Quantity-->
              <td><%= order.quantity%></td>

              <!-- Getting the total for selected order -->
              <td><%= ToCurrency(runningtotal); %></td>

              <!-- Getting Status -->
              <td><i class="fas fa-check"></i></td>
            </tr>
            <% } %>
          <tr>
            <td colspan="3">
              <% if(orders[0].status === "Ready") { %>
                Pick up at: <%= new Date(new Date(Date.parse(orders[0].msgtime)).getTime() + orders[0].ready_time_seconds) %>
              <% } %>
            </td>
            <td><%= ToCurrency(orderTotal); %></td>
            <td>
            </td>
          </tr>
        </table>
      <% } %>
    </main>
  </body>
</html>
